@mixin button {
  border: 2px solid $palette-2;
  border-radius: $box-border-radius;
  padding: $stripe-padding;
  cursor: pointer;

  &:active {
    transform: scale(0.95);
    border-color: darken($palette-2, 10%);
  }

  &:disabled {
    background-color: $palette-control-disabled;
    color: white;
    border-color: $palette-control-disabled;
    cursor: default;
  }

  &:disabled:active {
    transform: none;
    background-color: $palette-control-disabled;
  }
}

button,
.btn {
  @include button;

  background-color: $palette-2;
  color: white;

  &:active {
    background-color: darken($palette-2, 10%);
  }
}

.btn--secondary {
  @include button;

  background-color: white;
  color: black;

  &:active {
    background-color: $color-platinum;
  }
}
