input:not([type="radio"]):not([type="checkbox"]),
select,
textarea {
  background-color: white;
  border-radius: $border-radius;
  border: 1px solid gray;
  outline: 3px solid $palette-control-outline;
  padding: 0.25rem 0.5rem;

  &:focus {
    border: 1px solid black;
  }
}

input[type="radio"] {
  width: 1.15em;
  height: 1.15em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  appearance: none;
  background-color: white;
  border-radius: 50%;
  border: 2px solid $palette-2;
  transform: translateY(0.25em);

  &:checked {
    box-shadow: inset 0px 0px 0px 0.25em $palette-2;
  }
}

@mixin form-input {
  vertical-align: baseline;
  width: 70%;
  max-width: calc(100% - 10rem);
  margin-left: 0.5rem;
  text-align: left;
}

form {
  input:not([type="radio"]):not([type="checkbox"]),
  select,
  textarea {
    @include form-input;
  }

  textarea {
    min-height: 5rem;
    resize: none;
  }

  label {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: baseline;
    margin-bottom: 0.75rem;
    text-align: right;
  }
}

.invalid-msg {
  color: red;
  flex-basis: 100%;
}

.form-input {
  @include form-input;

  label {
    display: inline;
    text-align: initial;
  }
}

.form-controls {
  margin-top: 2rem;
  text-align: right;
}
