@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$padding-lg-x: 2rem;

html {
  font-family: "Poppins", sans-serif;
  font-size: $font-size;
}

body {
  background-color: $color-palette-1;
}

@mixin centered {
  margin-left: auto;
  margin-right: auto;
}

.container {
  @include centered;

  padding-left: $padding-lg-x;
  padding-right: $padding-lg-x;

  @include breakpoint-lg {
    max-width: $width-lg;
  }
}

.container-md {
  @include centered;
  max-width: $width-md;
}

.container-sm {
  @include centered;
  max-width: $width-sm;
}

.container-xs {
  @include centered;
  max-width: $width-xs;
}

.panel {
  @include panel;

  &--primary {
    background-color: $color-palette-3;
    color: white;
  }
}
