$color-palette-1: #ececec;
$color-palette-2: #f1970e;
$color-palette-3: #6599ee;

$border-radius: 5px;
$font-size: 16px;

@mixin breakpoint-lg {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin panel {
  background-color: white;
  padding: 2rem;
  border-radius: $border-radius;
  box-shadow: 0px 0px 5px darken($color-palette-1, 10%);
}
