@import "modern-css-reset/dist/reset";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
  font-family: "Poppins", sans-serif;
  font-size: $font-size;
}

body {
  background-color: $color-palette-1;
}

.container {
  margin-left: auto;
  margin-right: auto;

  @include breakpoint-lg {
    max-width: 960px;
  }
}

.panel {
  @include panel;
}
